.container {
  width: fit-content;
  height: 90%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: .5rem;
  background-color: white;

  .pages {
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AAAAAA;
    border-radius: .5em;

    &:hover {
      background: rgb(131, 191, 243);
      color: white;
    }
  }

  .prev, .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #EAEAEA;
    color: #AAAAAA;
    border-radius: .5em;
  }

  .prev {
    margin-right: 30px;
  }

  .next {
    margin-left: 30px;
  }

  .active {
    background: #3399FF;
    color: white;
  }

  .disabled {
    visibility: hidden;
  }
}



